.about-container {
  background-image: url('../../assets/carsCollage2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 35rem;
  width: 60rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: rgba(0, 0, 0);
  padding: 2rem;
  border-radius: 1rem;
}

.about-content h1 {
  font-size: 2rem;
  font-weight: 600;
}

.about-content p {
  font-size: 1rem;
}

.mission-span {
  border-bottom: 1px solid #fff;
}

.about-content a {
  text-decoration: none;
  color: inherit;
  margin-top: 1rem;
}

.question-span {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
  color: #000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
