.feature-card {
  background-color: rgb(207, 203, 203);
  color: #000;
  width: 60rem;
  height: 35rem;
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 2rem;
}

.feature-card img {
  max-width: 27rem;
  max-height: 27rem;
  object-fit: cover;
  border-radius: 1rem;
}

.feature-card h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.feature-card p {
  font-size: 1.4rem;
  font-weight: 400;
}

.feature-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  
}