.contact-container {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-image: url('../../assets/car5.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #000;
  width: 60rem;
  height: 40rem;
  border-radius: 1rem;
  padding: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
}

.contact-form label {
  font-size: 1.2rem;
  font-weight: 500;
}

.contact-form input, textarea  {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
  background-color: rgba(255, 255, 255, 0.5);
}

.contact-form input:focus, textarea:focus {
  outline: none;
  border: 1px solid #000;
  background-color: rgba(255, 255, 255, 1);
}

.contact-form textarea {
  height: 10rem;
  resize: none;
}

.contact-form button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.contact-content h1 {
  font-size: 2rem;
  font-weight: 500;
}

.contact-content p {
  font-size: 1.2rem;
  font-weight: 400;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
