.background {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  object-fit: cover;
  z-index: -1;
}

.not-found-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.not-found-content span, h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}

.not-found-content p {
  font-size: 1rem;
  color: #fff;
}